/* iDX Custom Theme */

/* Change background color for the entire app */
html {
  background-color: #1a1a1a; /* Dark background similar to VS Code */
  color: #ffffff; /* Light text color */
}

/* Change button color */
.button.is-primary {
  background-color: #61dafb; /* React blue color */
  color: #ffffff; /* Text color for the button */
}

/* Change button color on hover */
.button.is-primary:hover {
  background-color: #0b5fff; /* Slightly darker blue on hover */
}

/* Add a border color for input fields */
.input {
  border-color: #61dafb;
}

/* Highlighted code background color */
.code-editor {
  background-color: #282c34; /* Darker background for code editor */
}

/* Preview background color */
.preview-wrapper {
  background-color: #f8f8f8; /* Light gray background for live preview */
}

/* Text editor background color */
.text-editor {
  background-color: #1a1a1a; /* Dark background for text editor */
}

/* Text editor markdown styles */
.text-editor .w-md-editor-bar {
  background-color: #37414b; /* Dark background for markdown toolbar */
}

.text-editor .w-md-editor-toolbar li button {
  color: #d4d4d4; /* Text color for markdown toolbar buttons */
}

.text-editor .w-md-editor-content {
  background-color: #282c34; /* Dark background for markdown content */
}

.text-editor .w-md-editor {
  color: #d4d4d4; /* Text color for markdown content */
}

/* Cell-list background color */
.cell-list {
  background-color: #1a1a1a; /* Dark background for cell-list */
}
